.login img{
	height: 50px;
	width: 50px;
}

.jumbotron{
  overflow: hidden;
  width: 100%;
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  height: 9%;
  z-index: 10;
}

.login div{
  float: right;
  margin: 0 5px;
}
