.login img{
	height: 50px;
	width: 50px;
}

.login div{
  margin-right: 10px;
}

.jumbotron{
  overflow: hidden;
  width: 100%;
  margin-top: 3%;
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  height: 8%;
  z-index: 10;
  max-height: 54px;
}
