.login img{
	height: 45px;
	width: 45px;
	border-radius: 3px;
}

.login div{
  margin-right: 10px;
  margin-top: 3px;
}

.login .username{
	color: #999;
}

.login .logout{
	color: #fff;
	margin-left: 10px;
}

.jumbotron{
  overflow: hidden;
  width: 100%;
  margin-top: 3%;
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0px;
  height: 8%;
  z-index: 10;
  max-height: 54px;
}

.category{
  border: rgba(179, 169, 169, 0.5);
  border-style: solid;
  border-bottom-right-radius: 2em; 
  border-top-left-radius: 2em;
  background-color: #EEEEEE;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.category .catTitle{
  margin-left: 1em;
  font-family: 'MuseoSans_xFat';
  font-size: 30px;
}

.imgContainer{
	height: 200px;
	width: 150px;
	position: relative;
	vertical-align: middle;
	background-color: #EEEEEE;
	border: 1px solid rgba(179, 169, 169, 0.5);
	border-radius: 3px;
}

.imgContainer img{
	max-height: 185px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.bookTitle{
  padding-top: 0.5em;
  white-space: nowrap;
  width: 80%; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookAuthor{
  white-space: nowrap;
  width: 80%; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa.fa-heart, .fa.fa-heart-o{
  color: red;
  font-size: 150%;
  margin-left: 0.5em;
}

.users img{
	height: 100px;
	width: 100px;
}