<div class="container">
	<div class="row category">
		<p class="catTitle"><a href="#/category/Newest">Newest</a></p>
		<div class="col-sm-3" ng-repeat="book in newBooks">
			<a href="#/books/{{book.id}}" class="thumb">
				<div class="imgContainer">
					<img ng-src="{{book.image}}" class="img-responsive" alt="{{book.name}}">
				</div>
				<p class="bookTitle">{{book.title}}</p>
			</a>
			<p class="bookAuthor">{{book.authors}}</p>
			<div ng-controller="AuthCtrl" ng-show="currentUser">
				<a href="#" ng-click="addBookRead(book.id)" class="btn btn-info" id="bookRead">Read</a>
				<a href="#" ng-click="addBookWant(book.id)" class="btn btn-info" id="bookWant">Want</a>
				<a href="javascript:;" ng-click="addBookLiked(book.id)"><i class="fa fa-heart-o" id="{{book.id}}" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	
	<div class="row category">
		<p class="catTitle"><a href="#/category/Comedy">Comedy</a></p>
		<div class="col-sm-3" ng-repeat="book in comedyBooks">
			<a href="#/books/{{book.id}}" class="thumb">
				<div class="imgContainer">
					<img ng-src="{{book.image}}" class="img-responsive" alt="{{book.name}}">
				</div>
				<p class="bookTitle">{{book.title}}</p>
			</a>
			<p class="bookAuthor">{{book.authors}}</p>
			<div ng-controller="AuthCtrl" ng-show="currentUser">
				<a href="#" ng-click="addBookRead(book.id)" class="btn btn-info" id="bookRead">Read</a>
				<a href="#" ng-click="addBookWant(book.id)" class="btn btn-info" id="bookWant">Want</a>
				<a href="javascript:;" ng-click="addBookLiked(book.id)"><i class="fa fa-heart-o" id="{{book.id}}" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	
	<div class="row category">
		<p class="catTitle"><a href="#/category/Drama">Drama</a></p>
		<div class="col-sm-3" ng-repeat="book in dramaBooks">
			<a href="#/books/{{book.id}}" class="thumb">
				<div class="imgContainer">
					<img ng-src="{{book.image}}" class="img-responsive" alt="{{book.name}}">
				</div>
				<p class="bookTitle">{{book.title}}</p>
			</a>
			<p class="bookAuthor">{{book.authors}}</p>
			<div ng-controller="AuthCtrl" ng-show="currentUser">
				<a href="#" ng-click="addBookRead(book.id)" class="btn btn-info" id="bookRead">Read</a>
				<a href="#" ng-click="addBookWant(book.id)" class="btn btn-info" id="bookWant">Want</a>
				<a href="javascript:;" ng-click="addBookLiked(book.id)"><i class="fa fa-heart-o" id="{{book.id}}" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
	
	<div class="row category">
		<p class="catTitle"><a href="#/category/Fiction">Fiction</a></p>
		<div class="col-sm-3" ng-repeat="book in fictionBooks">
			<a href="#/books/{{book.id}}" class="thumb">
				<div class="imgContainer">
					<img ng-src="{{book.image}}" class="img-responsive" alt="{{book.name}}">
				</div>
				<p class="bookTitle">{{book.title}}</p>
			</a>
			<p class="bookAuthor">{{book.authors}}</p>
			<div ng-controller="AuthCtrl" ng-show="currentUser">
				<a href="#" ng-click="addBookRead(book.id)" class="btn btn-info" id="bookRead">Read</a>
				<a href="#" ng-click="addBookWant(book.id)" class="btn btn-info" id="bookWant">Want</a>
				<a href="javascript:;" ng-click="addBookLiked(book.id)"><i class="fa fa-heart-o" id="{{book.id}}" aria-hidden="true"></i></a>
			</div>
		</div>
	</div>
</div>