<img ng-src="{{book.image}}">

<h1>{{book.title}}</h1> 

<!-- FB Share Button -->
<div class="fb-share-button" data-href="https://bookus.herokuapp.com/#/books/{{book.id}}" data-layout="button_count" data-mobile-iframe="true"></div>

<p id="bookDescription">description</p>

<ul>
    <dl>
      <dt>Author</dt>
      <dd>{{book.authors}}</dd>
	  
	  <dt>Published Date</dt>
      <dd>{{book.publishedDate}}</dd>
	  
	  <dt>Number of pages</dt>
      <dd>{{book.pageCount}}</dd>
	  
	  <dt>Rating</dt>
      <dd ng-show="book.averageRating">{{book.averageRating}} // voted {{book.ratingsCount}} times</dd>
	  <dd ng-hide="book.averageRating">Not voted yet</dd>

    </dl>
</ul>