<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 imgBook">
      <img ng-src="{{book.image}}" align="right">
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h1>{{book.title}}</h1> 
        <p>{{book.authors}}</p>
        <!-- FB Share Button -->
		<div class="fb-share-button" data-href="https://bookus.herokuapp.com/#/books/{{book.id}}" data-layout="button_count" data-mobile-iframe="true"></div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="well">
          	<p id="bookDescription">description</p>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
    		<p><b>Number of pages:</b> {{book.pageCount}}</p>
    		<p><b>Published Date:</b> {{book.publishedDate}}</p>
          	<p ng-show="book.averageRating"><b>Rating:</b> {{book.averageRating}} // voted {{book.ratingsCount}} times</p>
	  		<p ng-hide="book.averageRating"><b>Rating:</b> Not voted yet</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
      
	  
	  