<div class="container-fluid">
	<div class "login" ng-controller="AuthCtrl">
		<div ng-show="currentUser">
			<p> Logged in as <a href="#/user/{{currentUser.uid}}">{{currentUser.name}} </a></p>
			<img src="{{currentUser.photo}}"></img>
			<a href="#" ng-click="logout()" class="btn btn-danger">Log Out</a>
		</div>
		<div ng-hide="currentUser">
			<a href="#" ng-click="login('google')" class="btn btn-info">Google</a>
		</div>
		<div ng-hide="currentUser">
			<a href="#" ng-click="login('facebook')" class="btn btn-info">Facebook</a>
		</div>
		<div ng-hide="currentUser">
			<a href="#" ng-click="login('twitter')" class="btn btn-info">Twitter</a>
		</div>
	</div>
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="books">
		<li ng-repeat="book in books | filter:query | orderBy:orderProp" class="thumbnail">
			<a href="#/books/{{book.id}}" class="thumb"><img ng-src="{{book.imageUrl}}" alt="{{book.name}}" ></a>
			<a href="#/books/{{book.id}}">{{book.name}}</a>
			<p>{{book.author}}</p>
			<div ng-controller="AuthCtrl" ng-show="currentUser">
				<a href="#" ng-click="addBookRead(book.id)" class="btn btn-info">Read</a>
				<a href="#" ng-click="addBookWant(book.id)" class="btn btn-info">Want</a>
			</div>
        </li>
      </ul>

    </div>
  </div>
</div>
