<div class="login" ng-controller="AuthCtrl">
	<div ng-show="currentUser">
		<p> Logged in as <a href="#/user/{{currentUser.uid}}">{{currentUser.name}} </a></p>
		<img src="{{currentUser.photo}}"></img>
		<a href="#" ng-click="logout()" class="btn btn-danger">Log Out</a>
	</div>
	<div ng-hide="currentUser">
		<a href="#" ng-click="login('google')" class="btn btn-info">Google</a>
	</div>
	<div ng-hide="currentUser">
		<a href="#" ng-click="login('facebook')" class="btn btn-info">Facebook</a>
	</div>
	<div ng-hide="currentUser">
		<a href="#" ng-click="login('twitter')" class="btn btn-info">Twitter</a>
	</div>
</div>