<div class="container user-detail">

	<div class="user-info">
		<img class="user-photo" ng-src="{{user.photo}}"></img>
		<span class="username">{{user.name}}</span>
	</div>

	<div ng-show="booksRead" class="row category">
		<form>
			<span class="catTitle">BOOKS READ</span>
			<input ng-model="queryRead" placeholder="Search">
		</form>
		<div class="col-sm-3"  ng-repeat="book in booksRead | filter:queryRead" class="thumbnail">
			<a href="javascript:;/books/{{book.id}}" class="thumb">
				<div class="imgContainer">
					<img ng-src="{{book.image}}" class="img-responsive" alt="{{book.name}}">
				</div>
				<p class="bookTitle">{{book.title}}</p>
			</a>
			<p class="bookAuthor">{{book.authors}}</p>
			<!-- 
			<div ng-controller="AuthCtrl" ng-show="currentUser" ng-init="checkProperties('rea', book.id)">
				<a href="javascript:;" ng-click="addBookRead('rea', book.id)" id="rea{{book.id}}R">Read</a>
				<a href="javascript:;" ng-click="addBookWant('rea', book.id)" id="rea{{book.id}}W">Want</a>
				<a href="javascript:;" ng-click="addBookLiked('rea', book.id)"><i id="rea{{book.id}}L" aria-hidden="true"></i></a>
			</div>
			-->
		</div>
	</div>

	<div ng-show="booksWanted" class="row category">
		<form>
			<span class="catTitle">BOOKS WANTED</span>
			<input ng-model="queryWanted" placeholder="Search">
		</form>
		<div class="col-sm-3" ng-repeat="book in booksWanted | filter:queryWanted" class="thumbnail">
			<a href="javascript:;/books/{{book.id}}" class="thumb">
				<div class="imgContainer">
					<img ng-src="{{book.image}}" class="img-responsive" alt="{{book.name}}">
				</div>
				<p class="bookTitle">{{book.title}}</p>
			</a>
			<p class="bookAuthor">{{book.authors}}</p>
			<!-- 
			<div ng-controller="AuthCtrl" ng-show="currentUser" ng-init="checkProperties('wan', book.id)">
				<a href="javascript:;" ng-click="addBookRead('wan', book.id)" id="wan{{book.id}}R">Read</a>
				<a href="javascript:;" ng-click="addBookWant('wan', book.id)" id="wan{{book.id}}W">Want</a>
				<a href="javascript:;" ng-click="addBookLiked('wan', book.id)"><i id="wan{{book.id}}L" aria-hidden="true"></i></a>
			</div>
			-->
		</div>
	</div>

	<div ng-show="booksLiked" class="row category">
		<form>
			<span class="catTitle">BOOKS LIKED</span> 
			<input ng-model="queryLiked" placeholder="Search">
		</form>
		<div class="col-sm-3" ng-repeat="book in booksLiked | filter:queryLiked" class="thumbnail">
			<a href="javascript:;/books/{{book.id}}" class="thumb">
				<div class="imgContainer">
					<img ng-src="{{book.image}}" class="img-responsive" alt="{{book.name}}">
				</div>
				<p class="bookTitle">{{book.title}}</p>
			</a>
			<p class="bookAuthor">{{book.authors}}</p>
			<!-- 
			<div ng-controller="AuthCtrl" ng-show="currentUser" ng-init="checkProperties('lik', book.id)">
				<a href="javascript:;" ng-click="addBookRead('lik', book.id)" id="lik{{book.id}}R">Read</a>
				<a href="javascript:;" ng-click="addBookWant('lik', book.id)" id="lik{{book.id}}W">Want</a>
				<a href="javascript:;" ng-click="addBookLiked('lik', book.id)"><i id="lik{{book.id}}L" aria-hidden="true"></i></a>
			</div>
			-->
		</div>
	</div>
</div>